
        <div class="field padding-bottom--24">
          <div class="grid--50-50">
            <label for="password">Password</label>
          </div>
          <input id="password" type="password" [formControl]="passwordCheck" placeholder="Enter Password"
                 (input)="passwordCheck.updateValueAndValidity()">
          <div class="show-pass symbols"></div>
        </div>
          <div class="flex-line">
            <div class="approved-line" [ngStyle]="{'background-color':  firstLineRule(passwordCheck.value)}"></div>
            <div class="approved-line" [ngStyle]="{'background-color': secondLineRule(passwordCheck.value)}"></div>
            <div class="approved-line" [ngStyle]="{'background-color': thirdLineRule(passwordCheck.value)}"></div>
          </div>
