<div class="field padding-bottom--24">
  <div class="grid--50-50">
    <label for="password">Password</label>
  </div>
  <input id="password" type="password" [formControl]="passwordCheck" placeholder="Enter Password"
         (input)="passwordCheck.updateValueAndValidity()">
</div>
<div class="flex-line">
  <span class="approved-line" [ngStyle]="{'background-color':  firstLineRule(passwordCheck.value)}"></span>
  <span class="approved-line" [ngStyle]="{'background-color': secondLineRule(passwordCheck.value)}"></span>
  <span class="approved-line" [ngStyle]="{'background-color': thirdLineRule(passwordCheck.value)}"></span>
</div>
