<div class="field padding-bottom--24">
  <div class="grid--50-50">
    <label for="password">Password</label>
  </div>
  <input id="password" type="password" [formControl]="passwordCheck" placeholder="Enter Password"
         (input)="passwordCheck.updateValueAndValidity()">
</div>
<div class="flex-line">
  <span class="approved-line"
        [class.low-secure]="passwordCheck.errors?.['lowSecure']"
        [class.easy-secure]="passwordCheck.errors?.['easy']"
        [class.medium-secure]="passwordCheck.errors?.['medium']"
        [class.strong-secure]="passwordCheck.value && !passwordCheck.errors"></span>
  <span class="approved-line"
        [class.low-secure]="passwordCheck.errors?.['lowSecure']"
        [class.medium-secure]="passwordCheck.errors?.['medium']"
        [class.strong-secure]="passwordCheck.value && !passwordCheck.errors"></span>
  <span class="approved-line"
        [class.low-secure]="passwordCheck.errors?.['lowSecure']"
        [class.strong-secure]="passwordCheck.value && !passwordCheck.errors"></span>
</div>
