<div class="flex-row">
  <div class="flex-column">
    <input type="email" placeholder="Enter Email">
    <div class="div-input">
      <input type="password" [formControl]="passwordCheck" placeholder="Enter Password"
             (input)="passwordCheck.updateValueAndValidity()">
      <div class="show-pass symbols"></div>
    </div>
    <div class="flex-line">
      <div class="approved-line" [ngStyle]="{'background-color':  firstLineRule(passwordCheck.value)}"></div>
      <div class="approved-line" [ngStyle]="{'background-color': secondLineRule(passwordCheck.value)}"></div>
      <div class="approved-line" [ngStyle]="{'background-color': thirdLineRule(passwordCheck.value)}"></div>
    </div>
    <input type="submit">
  </div>
</div>
