<div class="flex">
  <input type="password" [formControl]="passwordCheck" placeholder="Enter Password"
         (input)="passwordCheck.updateValueAndValidity()">
  <div class="flex-line">
    <div class="approved-line" [ngStyle]="{'background-color':  firstLineRule(passwordCheck.value)}"></div>
    <div class="approved-line" [ngStyle]="{'background-color': secondLineRule(passwordCheck.value)}"></div>
    <div class="approved-line" [ngStyle]="{'background-color': thirdLineRule(passwordCheck.value)}"></div>
  </div>
</div>
